![title](../img/eage.png)

# Python Virtual Classroom

## importing and data Cleaning

### <i><span style="color:green">Presented by Aboze Brain John</span>
    
<p class='lead'> At the end of this class, students would understand concepts associated with importing data and theories associated with data cleaning.</p>    


##### Requirements for this class:
1. A computer
2. Access to the internet
3. An interest in learning Python
4. High level of proficiency in English because of the technical language used in some part of the course
5. Basic math knowledge: addition, subtraction, multiplication, division, knowledge of types of numbers such as integers and decimal numbers, exponentiation, etc.
    
<br>
<div class='alert alert-warning'> 
<b>NOTE<\b> This notebook and related resources can be found on my GitHub repo <a href=''>here</a>.

***

#### From the Merriam Webster dictionary, **'importing'** means to bring from a foreign or external source. So, in the context of python 
- what foreign thing are we bringing in? 
- what is receiving these foreign things?

Firstly, addressing the first question, a quick outline of what can be imported in python are:

1. Module: Python script files (.py files)
2. Python objects: A collection of data and methods inside a module 
3. Python built-in modules: Native installed python scripts
4. Packages: A collection of related scripts(modules), which must contains an __init__.py file.
5. Library: A collection of packages.
6. Data: Facts and statistics collected together for reference or analysis.
Secondly, we can import all the items listed above into our our python script and/or jupyter notebook.

A Python script is a collection of commands in a file designed to be executed, usually have an etention name of '.py'. While a Jupyter notebook is an open-source web application that allows you to create and share documents that contain live code, equations, visualizations and narrative text with an extention of '.ipynb'. 

<br>
<div class='alert alert-warning'> 
<b>NOTE<\b> In order to have a well structured and understandable code, import what is only needed per time because unnecessary import can sometimes lead to a big waste of memory, breed redundacy and clashes of functions from different modules with coincidental names.

***

#### Python Import Syntax (How to import)

<i> Let's explore the various ways we can import into the python environment. For this to be fully understood, let's explain using Python's built in Math module which provides access to the mathematical functions. Let's try to compute the following with the different methods:

$$x = \sqrt{144}$$

In [1]:
# Method 1
import math

# Usage
x = math.sqrt(144)
print(x)

12.0

- With **Method 1**, the math module is imported and any function under this module would have to be called as `math.sqrt()`, `math.factorial()` etc. This method makes all functions readily available to import.

In [2]:
# Method 2
from math import *

# Usage
x = sqrt(144)
print(x)

12.0

- With **Method 2**, all the functions in the math module are imported, so that any function would have to be called as `sqrt()`, `factorial()`etc. This method is discourage because it could lead to collison of namespaces and ineffective memory use.

In [3]:
# Method 3
from math import sqrt

# Usage
x = sqrt(144)
print(x)

12.0

- With method 3, functions are specifically imported. Here, the sqrt function was imported from the math module, and could be called using the function name `sqrt()`, `factorial()`. This is efficient as it makes the code readable, understandable and memory efficient.

In [4]:
# Method 4
import math as m

# Usage
x = m.sqrt(144)
print(x)

12.0

- With Method 4, the application of aliasing is introduced using the `as` keyword. This is useful in trying to modify the name of the module mostly to reduce the length(short-hand). So, functions could be called as `m.sqrt()`, `m.factorial()`.

In [5]:
# Method 5
from math import sqrt as sq

# Usage
x = sq(144)
print(x)

12.0

- with Method 5, aliasing can be introduced while import specific functions from modules.  So, functions could be called as `sq()`

***

In order to carry out data sccience operations such as data cleaning, data aggregation, data transformation, data visualiztion and other insight generation operations we need the dataset to be investigated and analyzed to be imported into python.

# Formats of data commonly encountered in data science projects
1. CSV
2. XLSX
3. TXT
4. JSON
5. XML
6. ZIP
7. HTML
8. DOCX
9. PDF
10. MP3
11. MP4
12. SQL
13. IMAGES
14. HIERACHICAL DATA FORMAT

### Reading data

_Reading is an action performed by computers, to acquire data from a source and place it into their volatile memory for processing._

Let's explore this with a quick example of reading a comma seperated values(csv) file

In [6]:
# Using context manager
with open('../data/quick_ex.csv', mode='r') as reader:
    print(reader.read())

Name, v1, v2, v3, v4, v5
Brain, 3, True, -12.7, 0, John

In [7]:
# Using Python built in module - CSV
import csv

with open('../data/quick_ex.csv',mode='r') as csv_reader:
    lines = csv.reader(csv_reader,delimiter=',')
    for line in lines:
        print(line)

['Name', ' v1', ' v2', ' v3', ' v4', ' v5 ']
['Brain', ' 3', ' True', ' -12.7', ' 0', ' John ']

In [8]:
# Using Pandas 

#Before you use Pandas you have to install it

#!pip install Pandas

#Using Pandas
import pandas as pd

df = pd.read_csv('../data/quick_ex.csv', delimiter=',')

Other reading methods

- pd.read_csv
- pd.read_excel
- pd.read_html
- pd.read_json
- pd.read_table
- pd.read_sql
...

In [9]:
# Getting an overview of the data (dataframe)
df.head()

    Name   v1     v2    v3   v4     v5
0  Brain    3   True -12.7    0   John

***

### Data Cleaning

<!DOCTYPE html>
<center><img src='../img/gigo.gif' style="width:800px;height:400px;"> </center>
<br>
<center><h4 style="color:red"><em> Garbage In, Garbage Out </em></h4><center>
<center><h5 style="color:green">In order to generate insights to drive decisons we need quality data<h5></center>

#### What makes up Data quality?

##### 1. Validity
###### **The degree to which the data conform to defined business rules or constraints.**

##### 2. Accuracy
###### **The degree to which the data is close to the true values.**

##### 3. Completeness
###### **The degree to which all required data is known.**

##### 4. Consistency
###### **The degree to which the data is consistent, within the same data set or across multiple data sets.**

##### 5. Uniformity
###### **The degree to which the data is specified using the same unit of measure.**
<br>
<br>
<br>

#### Data quality workflow overview
The workflow is a sequence of steps aiming at producing high-quality data and taking into account all the criteria we’ve talked about.
##### 1. Inspection: Detect unexpected, incorrect, and inconsistent data.
##### 2. Cleaning: Fix or remove the anomalies discovered.
##### 3. Verifying: After cleaning, the results are inspected to verify correctness.
##### 4. Reporting: A report about the changes made and the quality of the currently stored data is recorded.

<br>
<center><img src='../img/showme.jpg' style="width:800px;height:400px;"> </center>

#### Case study: Titanic datasets.

<h6> Goal: Predict the survivors </h6>

<h6> To read more about the titanic dataset, click <a href='https://www.kaggle.com/search?q=titanic+survivor+in%3Adatasets'>here</a>

In [11]:
### Reading the dataset
train_df = pd.read_csv('../data/train.csv')
test_df = pd.read_csv('../data/test.csv')

Getting overview of the datasets

In [12]:
train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [14]:
test_df.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

<h4> Decription of variables names </h4>
<ul>
    <li>survived</li>
    <ul>
        <li>0: No</li>
        <li>1: Yes</li>
    </ul>
    <li>pclass: Ticket class-A proxy for socio-economic status</li>
        <ul>
             <li> 1:1st:Upper</li>
             <li> 2: 2nd: Middle</li>
             <li> 3: 3rd: Lower</li>
        </ul>
    <li>Age: Numerical value of age</li>
    <li>SibSp: Number of siblings or Spouses aboard the titanic</li>
    <li>Parch: Number of parents or Children abroad the titanic</li>
    <li>Ticket: Ticket number</li>
    <li>Cabin: Cabin number</li>
    <li> Embarked:Port of Embarkation</li>
        <ul>
            <li>C: Cherbourg</li>
            <li>Q: Queenstown</li>
            <li>S: Southampton</li>
        <ul>
</ul>

<br>
            <h6>Variable Notes</h6>
            <p>age: Age is fractional if less than 1. If the age is estimated, is it in the form of xx.5</p>
            <p> sibsp: The dataset defines family relations in this way...</p>
            <p>Sibling = brother, sister, stepbrother, stepsister</p>
            <p>Spouse = husband, wife (mistresses and fiancés were ignored)</p>
            <p>parch: The dataset defines family relations in this way...</p>
            <p>Parent = mother, father</p>
            <p>Child = daughter, son, stepdaughter, stepson</p>
            <p>Some children travelled only with a nanny, therefore parch=0 for them.</p>

Getting the descriptive statistics of the datasets

In [15]:
train_df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [16]:
test_df.describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  332.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   14.181209    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   21.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   27.000000    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   39.000000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

Check the formats of the various columns(features)

In [17]:
train_df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [18]:
test_df.dtypes

PassengerId      int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object